<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--(C)2010-ID-Informatik-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:template="http://www.webframework.fr/last/xmlns/template" xml:lang="fr" lang="fr" dir="ltr">
<head>
        <!-- Title -->
        <title>Gestionnaire de catalogues</title>

        <!-- Navigator Page Id -->
        <meta http-equiv="wfw.page-id" content="index" /> 

        <!-- meta -->
        <meta name="description" content="Gestion des catalogue" />
        <meta name="keywords" content="catalogue" />
</head>

<!-- Document -->
<body>

    <h1>Gestionnaire de catalogue</h1>
    <p>Ce module vous permet d'intégrer des fonctionnalités de gestion de catalogue à votre site Web.</p>
    
</body>

</html>
