<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
    <body>
        <form action="#" enctype="multipart/form-data" method="post">
            <!-- fields:£ -->
            <div class="wfw_edit_field"><span><label for="txt_$NAME">$TITLE</label></span><span><input type="text" id="txt_$NAME" name="$NAME" value="$VALUE" /></span></div>
            <!-- £:fields -->
            <hr/>
            <!-- opt_fields:£ -->
            <div class="wfw_edit_field"><span><label for="txt_$NAME">$TITLE</label></span><span><input type="text" id="txt_$NAME" name="$NAME" value="$VALUE" /></span></div>
            <!-- £:opt_fields -->
            <div align="right">
                <input class="wfw_button_text" type="submit" value="Executer" />
            </div>
        </form>
    </body>
</html>