<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
    <body>
        <form id="form" action="#" enctype="multipart/form-data" method="post">
            <fieldset id="fields">
                <legend>Champs obligatoires</legend>
                <!-- fields:£ -->
                <div class="wfw_edit_field"><span><label for="txt_$NAME">$TITLE</label></span><span><input class="$TYPE" type="text" id="$NAME" name="$NAME" value="$VALUE" /></span></div>
                <!-- £:fields -->
            </fieldset>
            
            <fieldset id="op_fields">
                <legend>Champs optionnels</legend>
                <!-- opt_fields:£ -->
                <div class="wfw_edit_field"><span><label for="txt_$NAME">$TITLE</label></span><span><input type="text" id="$NAME" name="$NAME" value="$VALUE" /></span></div>
                <!-- £:opt_fields -->
            </fieldset>
            
            <div id="buttons" align="right">
                <input class="wfw_button_text" type="submit" value="Executer" />
            </div>
        </form>
    </body>
</html>